@font-face {
    font-family: 'Looney';
    src: url(../docs/assets/fonts/Looney\ Tunes\ Tilt\ BT-FONTSMAGAZINE.ttf) format(truetype);
};

#my-canvas {
    
}

#start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    border: 2px solid #696969;
    font-family: 'Looney';
    font-size: 1rem;

    padding: 10px;
    box-shadow: 2px 2px 0px 0px;
    background-color: lightgrey;
    color: black;
}